body {
  background-color: rgb(18, 18, 18);
  font-family:sans-serif;
  font-weight: 500;
  color:#000;
  margin: 30px 50px 30px 50px
}


h1 {
  color: rgba(255, 255, 255, 0.46);
  text-shadow:1px 1px 5px #ffffff, 1px 1px 5px #ffffff19;
  font: Arial;
  font-style:italic;
  font-weight: 700;
  font-size:30px;
  line-height:35px;

}


h2 {
  color: rgba(255, 255, 255, 0.46);
  text-shadow:1px 1px 5px #ffffff, 1px 1px 5px #ffffff19;
  font: Arial;
  font-style:italic;
  font-weight: 700;
  font-size:30px;
  line-height:35px;
  text-align: right;

}
h2:hover {

/*  margin-left: -5px; */
  text-shadow:1px 1px 5px #ffffff, 0px 0px 5px #ffffff, -10px 0px 5px #001aff;
/*  transform: rotate(180deg) scaleX(-1); */

}


a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}


main {
  margin-top:10vw;

}


p {
  color: rgba(255, 255, 255, 0.488);
  text-shadow:1px 1px 3px #fefefe, -10px 0px 5px #001affb0;
  font-size:20px;
  /* font-style: italic; */
  line-height:15px;
}

p:hover {

/*  margin-left: -5px; */
  text-shadow:1px 1px 5px #ffffff, 0px 0px 5px #ffffff, -10px 0px 5px #001aff;
/*  transform: rotate(180deg) scaleX(-1); */

}



is {
  color: rgba(190, 24, 24, 0.33);
  text-shadow:1px 1px 3px #ff00007c, 0px 0px 3px #ff0000;
  font-style: normal;
}

detail {
  color: rgba(190, 24, 24, 0.33);
  text-shadow:1px 1px 3px #ff00007c, 0px 0px 3px #ff0000;
  font-style: normal;
  font-size:smaller;
}
