body {
  background-color: rgb(16, 16, 16);
 
  font-family:sans-serif;
  font-weight: 500;
  color:#00000045;
  margin: 30px 50px 30px 50px
}


h1 {
  color: rgba(255, 255, 255, 0.46);
  text-shadow:1px 1px 5px #ffffff, 1px 1px 5px #ffffff19;
  font: Arial;
  font-style:italic;
  font-weight: 700;
  font-size:2vw;
  line-height:2vw;

}


h2 {
  color: rgba(255, 255, 255, 0.46);
  text-shadow:1px 1px 5px #ffffff, 1px 1px 5px #ffffff19;
  font: Arial;
  font-style:italic;
  font-weight: 700;
  font-size:30px;
  line-height:35px;
  text-align: right;

}


a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}


main {
  margin-top:10vw;
  margin-bottom:10vw;
  margin-right:40vw

}


p {
  color: rgba(255, 255, 255, 0.488);
  text-shadow:1px 1px 3px #fefefe, -7px 0px 5px #000000b0;
  font-size:1.5vw;
  /* font-style: italic; */
  line-height:1vw;
}

p:hover {

/*  margin-left: -5px; */
  text-shadow:1px 1px 5px #ffffff70, -3px 0px 4px #ffffff;
/*  transform: rotate(180deg) scaleX(-1); */

}

p2 {

  color: rgba(255, 255, 255, 0.543);
  font: size 3vw;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1vw;
  font-weight: 400;
  text-align: justify; 
  text-shadow:1px 1px 5px #ffffff, 1px 1px 1px #ffffff,;
}

detail {
  color: rgba(255, 255, 255, 0);
  text-shadow:1px 1px 3px #ffffff5b, 0px 0px 3px #ffffff2a;
  font-style: normal;
  font-size:smaller;
}


img {
  max-width: 50vw;
  z-index: 999;
  padding-right: 40vw;
} 
